$zi7-black-primary: mat-palette($mat-grey, 700, 300, 900);
$zi7-black-accent: mat-palette($mat-blue-grey, 400);
$zi7-black-warn: mat-palette($mat-red, 500);

$zi7-black-theme: mat-dark-theme(
  $zi7-black-primary,
  $zi7-black-accent,
  $zi7-black-warn
);
