$raj-black-primary: mat-palette($mat-grey, 700, 300, 900);
$raj-black-accent: mat-palette($mat-blue-grey, 400);
$raj-black-warn: mat-palette($mat-red, 500);

$raj-black-theme: mat-dark-theme(
  $raj-black-primary,
  $raj-black-accent,
  $raj-black-warn
);
