$raj-primary: mat-palette($mat-indigo, 800, 300, 900);
$raj-accent: mat-palette($mat-light-blue);
$raj-warn: mat-palette($mat-pink, 600);

$raj-theme: mat-light-theme($raj-primary, $raj-accent, $raj-warn);
