$zi7-primary: mat-palette($mat-indigo, 800, 300, 900);
$zi7-accent: mat-palette($mat-light-blue);
$zi7-warn: mat-palette($mat-pink, 600);

$zi7-theme: mat-light-theme($zi7-primary, $zi7-accent, $zi7-warn);
