$raj-light-primary: mat-palette($mat-grey, 200, 500, 300);
$raj-light-accent: mat-palette($mat-brown, 200);
$raj-light-warn: mat-palette($mat-deep-orange, 200);

$raj-light-theme: mat-light-theme(
  $raj-light-primary,
  $raj-light-accent,
  $raj-light-warn
);
