$raj-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$raj-nature-accent: mat-palette($mat-deep-purple, 300);
$raj-nature-warn: mat-palette($mat-red, 600);

$raj-nature-theme: mat-light-theme(
  $raj-nature-primary,
  $raj-nature-accent,
  $raj-nature-warn
);
