<div class="container" rtl>

  <div class="row">
    <div class="col-12">
      <h1 class="main-heading">{{ 'zi7.examples.notifications.title' | translate }}</h1>
    </div>
  </div>

  <div class="row item" [ngClass]="routeAnimationsElements">
    <button mat-raised-button class="col-3 default" (click)="default()">
      {{ 'zi7.examples.notifications.default.title' | translate }}
    </button>
    <p class="col-9">{{ 'zi7.examples.notifications.default.description' | translate }}</p>
  </div>

  <div class="row item" [ngClass]="routeAnimationsElements">
    <button mat-raised-button class="col-3 information" (click)="info()">
      {{ 'zi7.examples.notifications.info.title' | translate }}
    </button>
    <p class="col-9">{{ 'zi7.examples.notifications.info.description' | translate }}</p>
  </div>

  <div class="row item" [ngClass]="routeAnimationsElements">
    <button mat-raised-button class="col-3 success" (click)="success()">
      {{ 'zi7.examples.notifications.success.title' | translate }}
    </button>
    <p class="col-9">{{ 'zi7.examples.notifications.success.description' | translate }}</p>
  </div>

  <div class="row item" [ngClass]="routeAnimationsElements">
    <button mat-raised-button class="col-3 warning" (click)="warn()">
      {{ 'zi7.examples.notifications.warning.title' | translate }}
    </button>
    <p class="col-9">{{ 'zi7.examples.notifications.warning.description' | translate }}</p>
  </div>

  <div class="row item" [ngClass]="routeAnimationsElements" >
    <button mat-raised-button class="col-3 error" (click)="error()">
      {{ 'zi7.examples.notifications.error.title' | translate }}
    </button>
    <p class="col-9">{{ 'zi7.examples.notifications.error.description' | translate }}</p>
  </div>

</div>
